SpotiFire.Client/Service References/ServiceReference/SpotifireServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpotifireServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpContextBinding_Spotify_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <IncludeContext ProtectionLevel="Sign" xmlns="http://schemas.microsoft.com/ws/2006/05/context" />
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SpotiFire.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Spotify_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="Spotify_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="Spotify_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_Pong_InputMessage">
    <wsdl:part name="parameters" element="tns:Pong" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetPlaylists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylists" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetPlaylists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylistsResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetPlaylistTracks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylistTracks" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetPlaylistTracks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylistTracksResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_PlayPlaylistTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayPlaylistTrack" />
  </wsdl:message>
  <wsdl:message name="Spotify_SetRandom_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRandom" />
  </wsdl:message>
  <wsdl:message name="Spotify_SetRepeat_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRepeat" />
  </wsdl:message>
  <wsdl:message name="Spotify_Ping_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="Spotify_PlaybackStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlaybackStarted" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="Spotify">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/Authenticate" message="tns:Spotify_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/AuthenticateResponse" message="tns:Spotify_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/Login" message="tns:Spotify_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/LoginResponse" message="tns:Spotify_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Pong">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/Pong" message="tns:Spotify_Pong_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetPlaylists">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/GetPlaylists" message="tns:Spotify_GetPlaylists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/GetPlaylistsResponse" message="tns:Spotify_GetPlaylists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetPlaylistTracks">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/GetPlaylistTracks" message="tns:Spotify_GetPlaylistTracks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/GetPlaylistTracksResponse" message="tns:Spotify_GetPlaylistTracks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="PlayPlaylistTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/PlayPlaylistTrack" message="tns:Spotify_PlayPlaylistTrack_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SetRandom">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/SetRandom" message="tns:Spotify_SetRandom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SetRepeat">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/SetRepeat" message="tns:Spotify_SetRepeat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Ping">
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/Ping" message="tns:Spotify_Ping_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="PlaybackStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/PlaybackStarted" message="tns:Spotify_PlaybackStarted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpContextBinding_Spotify" type="tns:Spotify">
    <wsp:PolicyReference URI="#NetTcpContextBinding_Spotify_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/Spotify/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Spotify/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pong">
      <soap12:operation soapAction="http://tempuri.org/Spotify/Pong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylists">
      <soap12:operation soapAction="http://tempuri.org/Spotify/GetPlaylists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistTracks">
      <soap12:operation soapAction="http://tempuri.org/Spotify/GetPlaylistTracks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayPlaylistTrack">
      <soap12:operation soapAction="http://tempuri.org/Spotify/PlayPlaylistTrack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetRandom">
      <soap12:operation soapAction="http://tempuri.org/Spotify/SetRandom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetRepeat">
      <soap12:operation soapAction="http://tempuri.org/Spotify/SetRepeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/Spotify/Ping" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaybackStarted">
      <soap12:operation soapAction="http://tempuri.org/Spotify/PlaybackStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpotifireServer">
    <wsdl:port name="NetTcpContextBinding_Spotify" binding="tns:NetTcpContextBinding_Spotify">
      <soap12:address location="net.tcp://localhost:8080/spotifire" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/spotifire</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>snow\Alxandr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>